version: '3.9'

services:
  auth-db:
    image: postgres:17
    container_name: auth_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
    networks:
      - auth-network

  auth-service:
    build: .
    container_name: auth_service
    restart: always
    environment:
      DB_HOST: auth-db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - '3001:3001'
    depends_on:
      - auth-db
    networks:
      - auth-network

volumes:
  auth_pgdata:
networks:
  auth-network:
